@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

menu, ol, ul, li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.row {
    display: flex;
}

select {
    border: none;
    padding: 10px;
}
